<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>{{title}}</title>
</head>
<body>
    {{> nav}}
    {{{body}}}
    {{> footer}}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script src="/script/script.js"></script>
</body>
</html>