*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f92b7a;
    color: #fff;
    height: 100vh;
}

nav{
    background: #b81f5a !important;
}

footer{
    background: #b81f5a !important;
    width: 100%;
}

h1{
    text-align: center;
}

.card{
    background: #b81f5a;
}

.card-action{
    display: flex;
    justify-content: space-between;
}
