<form action="/books/add" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" required id="name">
    <br><br>
    <label for="year">Year</label>
    <input type="number" name="year" required id="year">
    <br><br>
    <label for="price">Price</label>
    <input type="number" name="price" id="price" required>
    <br><br>
    <label for="img">Img</label>
    <input type="text" required name="img" id="img">
    <br><br>
    <input type="submit">
</form>